<!-- Message to the right -->
<div class="direct-chat-msg right conversation_right">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name pull-right"><%= name %></span>
  </div>
  <!-- /.direct-chat-info -->
  <%#= image_tag "home_title", class: "direct-chat-img" %>
  <%= image_tag image_path, class: "direct-chat-img" %>
  <div class="direct-chat-text">
    <%= conversation_content %>
  </div>
  <!-- /.direct-chat-text -->
</div>
<!-- /.direct-chat-msg -->

