<div class=" tweets">

  <% @tweets.each do |tweet| %>
    <!-- per tweet -->
    <div class="box-widget" data-aos="fade-right">
      <div class="box-footer box-comments">
        <div class="box-comment">
          <!-- User image -->
          <%= image_tag tweet.smaspi_image, class: "img-circle" %>
          <div class="comment-text">
            <span class="username">
              <%= tweet.smaspi_name %>
              <span class="text-muted pull-right"><%= tweet.created_at.strftime("%m月%d日 %H:%M") %></span>
            </span><!-- /.username -->
            <%= tweet.content %>
          </div>
          <!-- /.comment-text -->
        </div>
        <button type="button" class="btn btn-default btn-xs like_button" >
          <i class="fa fa-thumbs-o-up"></i> Like
        </button>

        <!-- /.box-comment -->
      </div>
    </div>
    <!-- per tweet -->
  <% end %>

</div>
