<footer class="footer main-footer">
  <div class="">
    <%= link_to redirects_path(type: :twitter), class: "btn btn-social-icon btn-twitter" do %>
      <i class="fa fa-twitter"></i>
    <% end %>
    <%= link_to redirects_path(type: :instagram), class: "btn btn-social-icon btn-instagram" do %>
      <i class="fa fa-instagram"></i>
    <% end %>
    <%= link_to redirects_path(type: :facebook), class: "btn btn-social-icon btn-facebook" do %>
      <i class="fa fa-facebook"></i>
    <% end %>
  </div>

</footer>
